@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .BurgerMenu {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .link {
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    }
    .logIn {
        background-color: transparent;
        border: transparent;
        font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    }
    
    .registration {
        border-radius: 12px;
    padding: 14px 39px;
    background: #121417;
    border: transparent;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    }
    
    .disabled {
       display: none;
      }
}

.link:hover,
.link:focus {
    color: #f4c550;
}

.activeLink {
    color: #f4c550;
}

.logIn:hover,
.logIn:focus {
    color: #f4c550;
    border-bottom: 1px solid #f4c550;
}

.registration:hover,
.registration:focus {
    color: black;
    background-color: white;
}

.logOut {
    background-color: transparent;
        border: transparent;
        font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
}

.logOut:hover,
.logOut:focus {
    color: #f4c550;
    border-bottom: 1px solid #f4c550;
}